.App {
  text-align: center;
}

.NavUserBtn:hover, .NavUserBtn:active {
  background-color: red !important;
  color: white !important;
}

.NavBtn:hover, .NavBtn:active {
  color: red !important;
}

.RegularBtn:hover, .RegularBtn:active {
  background-color: white !important;
  color: red !important;
  border-color: red !important;
}