.App {
  text-align: center;
}

* {
  font-family: Bradly hand, cursive;
}

.NavUserBtn:hover, .NavUserBtn:active {
  background-color: red !important;
  color: white !important;
}

.NavBtn:hover, .NavBtn:active {
  color: red !important;
}

.RegularBtn:hover, .RegularBtn:active {
  background-color: white !important;
  color: red !important;
  border-color: red !important;
}

.form-control {
  border: 1px solid;
  border-color: #f8f9fa;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-control:focus {
  border-color: red !important;
  box-shadow: 0 0 0 0.1rem rgba(255, 0, 0, 0.25) !important;
}

.placeCard:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) !important;
  cursor: pointer;
}